.app {
    font-family: "Tahoma", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: #f8f9fd;
}

input[type="text"],
input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.button-container {
    display: flex;
    justify-content: center;
}

.account-container {
    margin-block-start: 0em;
    margin-block-end: 0em;
    display: flex;
    justify-content: center;
}

.login-form {
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
    display: flex;
}

.error {
    color: red;
    font-size: 12px;
}

.title {
    font-size: 25px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

.center {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

hr {
    border: none;
    border-top: 3px solid #333;
    color: #333;
    overflow: visible;
    text-align: center;
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
}

hr:after {
    background: #fff;
    content: 'ou';
    padding: 0 2px;
    position: relative;
    top: -13px;
}